@use 'variables.scss' as *;
.about {
  padding-top: 20px;

  &__text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__image {
    height: 200px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .gallery-item {
      height: 200px;
      border-radius: 8px;
      overflow: hidden;
    }

    @media (min-width: $bp-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}