@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
$font-main: 'Inter', sans-serif;
$color-bg-light: white;
$color-text: black;
$color-footer: black;
$color-placeholder: #d9d9d9;

$bp-sm: 576px;